:root{
    --primary-color:#2A3249;
    --secondary-color:#4d5bed;
    --sub-heading-color:#758b9f;
    --background-color:#e8e8e8;
    --headings:white;
    --links:#5372E1;
    --buttons:#6CAAE3;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}
.header{
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;
    align-items: center;
    width: fit-content;
    width: 100%;
    row-gap: 100px;
}
.logo{
    font-size: 30px;
    font-weight: 600;
    color: var(--headings);
    cursor: pointer;
}
.menu{
    display: flex;
    width: 30%;
    justify-content: space-between;
    font-weight: 600;
}
menu-item{
    color: #C1C8DA;
    cursor: pointer;
}
menu-item:hover{
    color: var(--links);
}
.hero{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 88vh;
}
hr{
    width: 100%;
    margin-top: 15px;
    height: 1%;
    margin-bottom: 15px;
    border: 0.5px solid var(--background-color);
}
.card{
    background-color: white;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card h1{
    width: 100%;
}
.google{
    border: 2px solid var(--background-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}
input:focus{
    outline: none;
    border: 1px solid var(--secondary-color);
}
.google:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#gimg{
    height: 17px;
    margin-right: 5px;
}
#signUp,#signIn{
    width: 350px;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 10px;
}
input{
    height: 40px;
    border: 2px solid var(--background-color);
    border-radius: 5px;
    padding: 10px;
}
.agree{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
button{
    height: 40px;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 300ms linear;
}
button:hover{
    transform:scale(1.05);
}

.sec2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec2 h4{
    color: var(--secondary-color);
    cursor: pointer;
}

p{
    text-align: center;
    color: var(--secondary-color);
    cursor: pointer;
}
#forgetCard{
    display: none;
}
.forget{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
#back{
    height:30px;
    cursor: pointer;
}
footer{
    position: absolute;
    border-top: 1px solid silver;
    width: 100%;
    color: white;
    bottom: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:1000px) {
    .menu{
        display: none;
    }
    .hero{
        height: 0;
        margin-top: 20px;
    }
    footer{
        display: none;
    }
}